<template>
  <require from="./app.css"></require>
  <div class="uk-section uk-section-small">
    <div class="uk-container-small uk-align-center">
      <h1>${heading}</h1>
      <button class="uk-button uk-button-primary" click.trigger="getArms()">Get Arms!!!</button>
      <hr>
      <div uk-grid>
        <div class="uk-width-1-3@s" repeat.for="arm of arms">
          <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
              <img src.bind="arm.image_url" width="100%"><img>
            </div>
            <div class="uk-card-body">
              <h3 class="uk-card-title">${arm.name}</h3>
              <p>${arm.description}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
